CONFIG_BOOTDELAY=3
CONFIG_BAUDRATE=1500000
CONFIG_SYS_CONFIG_NAME="evb_rk3568"
CONFIG_DEFAULT_FDT_FILE="rockchip/rk3568-yy3568.dtb"
CONFIG_BOOTSTD=y
CONFIG_BOOTSTD_FULL=y
CONFIG_BOOTSTD_DEFAULTS=y
CONFIG_BOOTMETH_DISTRO=y
CONFIG_BOOTMETH_SCRIPT=y
CONFIG_BOOTMETH_EXTLINUX=y
CONFIG_BOOTMETH_EXTLINUX_PXE=y
CONFIG_BOOTMETH_EFILOADER=y
CONFIG_CMD_BOOTFLOW=y
CONFIG_CMD_SOURCE=y
CONFIG_CMD_MMC=y
CONFIG_CMD_USB=y
CONFIG_USB_STORAGE=y
CONFIG_CMD_SF=y
CONFIG_CMD_NVME=y
CONFIG_CMD_SCSI=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_PXE=y
CONFIG_CMD_NET=y
CONFIG_CMD_TFTPBOOT=y
CONFIG_CMD_FAT=y
CONFIG_CMD_EXT4=y
CONFIG_CMD_FS_GENERIC=y
CONFIG_PCI=y
CONFIG_NVME_PCI=y
CONFIG_SCSI=y
CONFIG_AHCI=y
CONFIG_SCSI_AHCI=y
CONFIG_AHCI_PCI=y
CONFIG_NET=y
CONFIG_EFI_LOADER=y
CONFIG_EFI_BINARY_EXEC=y
CONFIG_CMD_BOOTEFI=y
